.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header {
  text-align: center;
  
}
content {
  text-align: center;
  bottom: 90%;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
hr.solid {
  border-top: 3px solid #bbb;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content{
  text-align: center;
}
button{
  margin-left: 10px;
}
a{
  margin-left: 10px;
}

footer{
  text-align: center;
}

.countriesdashboard{
display: flex;
flex-wrap: wrap;
width: 100%;
}
.countriesdashboard div{
width: 250px;
height: 250px;
margin: 10px;
}

.countriesdashboard div img{
  height: 200px;
  width: 200px;
}

.error{
  color:red;
}